html, body {
    color: $gray-light;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    h1, h2, h3, h4 {
        font-weight: 100;        
    }
    a {
        color: $secondary;
    }
}

#toolbar {
    background-color: $gray-dark;
    border-bottom: 1px solid $gray-medium-light;
}
main {
    #navigation {
        background-color: $gray-dark;
        border-right: 1px solid $gray-medium-light;
    }

    #inspector {
        background-color: $gray-dark;
        border-left: 1px solid $gray-medium-light;
    }

    #canvas {
        background-color: $gray-darkest;
        svg {
            polygon, rect, path {
                fill: $primary;
                fill-opacity: 0.25;
                stroke: $secondary;
            }
            circle, line {
                fill: $secondary;
                stroke: $secondary;
            }
        }
    }
}
