#canvas {
    svg {
        .horizontal, .vertical {
            stroke: $gray-medium-dark;
        }
        polygon, rect, path {
            fill: $primary;
            fill-opacity: 0.25;
            stroke: $secondary;
        }

        circle {
            fill: $secondary;
            stroke: $secondary;
            &.origin {
                fill: none;
                &:hover {
                    fill: $secondary;
                }
            }
        }
    }
}
