@import "./../config";

// basic layout structure for the entire application
#toolbar {
    height: 5rem;
}
#app {
    height: 100%;
}
main {
    display: flex;
    justify-content: space-between;
    height: calc(70% - 5rem);
    #navigation {
        height: 100%;
        width: 17.5rem;
    }

    #grid, #canvas {
        height: calc(70% - 5rem);
        position: absolute;
        left: 17.5rem;
        top: 5rem;
        width: calc(100% - 17.5rem);
    }
    #grid {
        background-color: transparent;
    }

    #canvas #images {
        position: absolute;
        top:0;
        &.konvajs-content {
            z-index: 1;
        }
    }
    #canvas #map {
        height: 100%;
    }
}
#library {
    height: 30%;
}
