@import "./../config";

main {
    #map-container {
        position: absolute;
        top: 0;
        bottom: 0;
    }
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // height: 5rem;
}

#layout-main {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    #layout-navigation {
        left: 0;
        width: 21.5rem;
        z-index: 3;
    }

    main {
        left: 21.5rem;
        right: 0;
        #grid {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
    }
    &.nav-on-top {
      #layout-navigation {
        bottom: 50%;
        width: 100%;

        .editable-table table tbody {
          height: calc(50vh - 170px);
        }
      }
      main {
        left: 0;
        top: 50%;
      }

    }
}
#layout-library {
  height: 100%;
}
