@import "./../config";

main {
    #map-container {
        position: absolute;
        top: 0;
        bottom: 0;
    }
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // height: 5rem;
    #navigation-head {
      width: 19.5rem;
    }
}

#layout-main {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    #layout-navigation {
        left: 0;
        width: 19.5rem;
        z-index: 3;
    }

    main {
        left: 19.5rem;
        right: 0;
    }
}
#layout-library {
  height: 100%;
}
