.input-number {
    position: relative;

    label {
        text-transform: uppercase;
        font-size: 0.625rem;
    }
    input {
        background-color: $gray-medium-dark;
        border: 1px solid $gray-darkest;
        border-radius: 1rem;
        color: $gray-light;
        height: .75rem;
        padding: 0.25rem 1.25rem 0.25rem 0.75rem;
        margin: 0 0.5rem;
        width: 2rem;
        &:focus {
            outline: none;
        }
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    }

    span.arrows {
        background-color: $gray-medium-light;
        border: 1px solid $gray-darkest;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        flex-direction: column;
        padding-right: 0.125rem;
        position: absolute;
        top:0;
        right: 0px;
        width: 1.5rem;
        height: 1.25rem;

        svg {
            margin: .1rem 0;
            path {
                fill: $gray-light;
            }
        }
    }
}
// <div class="input-number">
//     <label>zoom</label>
//     <input type="number" value="100%">
//     <span>
//         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14">
//             <path d="M.5 0v14l11-7-11-7z" transform="translate(0 15) rotate(-90)"></path>
//         </svg>
//         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14">
//             <path d="M.5 0v14l11-7-11-7z" transform="translate(13) rotate(90)"></path>
//         </svg>
//     </span>
// </div>
