
.input-select {
    position: relative;
    label {
        font-size: 0.625rem;
        margin-right: 1rem;
        text-transform: uppercase;
    }

    select {
        background-color: $gray-dark;
        border: 0;
        color: $gray-light;
        height: 2rem;
        padding: 0 .75rem;
        -webkit-appearance: none;
        width: 4rem;
    }

    svg {
        pointer-events: none;
        position: absolute;
        right: 5px;
        top: calc(1rem - 3px);
        path {
            fill: $gray-medium-light;
        }
    }
}
