// colors
$gray-darkest: #24292c;
$gray-dark: lighten($gray-darkest, 3%);
$gray-medium-dark: lighten($gray-darkest, 7%);
$gray-medium: lighten($gray-darkest, 10%);
$gray-medium-light: lighten($gray-darkest, 20%);
$gray-light: lighten($gray-darkest, 60%);



$primary: #DF5236;
$secondary: #DF5236;

$white: #ffffff;
$black: #000000;
